.navbarContainer {
    background: #FFFFFF;
    position: fixed;
    top: 0px;
    left: 0;
    max-width: 430px;
    width: 100%;
    max-height: 100%;
    height: 100%;
    grid-area: n;
    border-radius: 50px 0 0 50px;
    margin: 0 0 0 80px;
}
.navbarWrapper{

}
.dialogsList {
    margin: 15px 0 0 0;
}

.popapDialogsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.buttonHome {
    margin: 0 0 25px 0;
}
.settingUser{
    margin: 0 0 8px 0;
    display: flex;
    border-bottom: 1px solid #b4b2b2;
    max-height: 56px;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 0 15px;
}
.popapCurrentUserContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
}
.itemDialogs{
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 3px solid #F7F7F7;
    min-width: 303px;
    min-height: 70px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 0 0 20px 0;
}
.itemDialogs button{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
    min-width: 303px;
    min-height: 70px;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    text-align: left;
    margin: 0 0 0 36px;
}
.itemDialogsActive button{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
    min-width: 303px;
    min-height: 70px;
    width: 100%;
    height: 100%;
    border: none;
    background:none;
    text-align: left;
    margin: 0 0 0 36px;
}
.itemDialogsActive {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 3px solid #F7F7F7;
    min-width: 303px;
    min-height: 70px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 0 0 20px 0;
    background: #F7F7F7;
    box-shadow: 0px 0px 5px rgba(92, 54, 127, 0.1);
}
.appName{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
}
.navbarBlockDialogs{
    margin: 90px 0 0 32px;
}
.dialogueManagement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 658px;
    max-width: 303px;
    height: 100%;
}
.titleBlockDialogs{
    margin: 0 0 55px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #2B3445;
}



.createNewDialogsButtonBody{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2B3445;
}
.createNewDialogsButtonBody span{
    margin: 0 18px 0 0;
}
.createNewDialogsButton{
    display: flex;
    justify-content: flex-end;
}
.createNewDialogsButton button{
    background: none;
    border: none;
}