.headerBlock {
    max-width: 755px;
    max-height: 765px;
    width: 100%;
    height: 100%;
    background: #FFFBF8;
    border-radius: 30px;
    margin: 0 0 0 192px;
    padding: 15px;
}
.titlePage{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #2B3445;
    margin: 0 auto 55px auto;
    text-align: center;
}