.popapContainer{
    background: white;
    z-index: 50;
    position: absolute;
    width: 350px;
    height: 350px;
    padding: 15px;

}
.popap{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}
.dialogsName{
    margin: 0 0 25px 0;
}
.dialogsUid{
    display: flex;
    flex-direction: column;
}