.dialogsWindow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    width: 1050px;
    margin: 0 0 0 50px;
    height: 800px;
    overflow: auto;
}

.sendMessage {
    width: 1050px;
    margin: 0 0 0 50px;
}
.messagesElement{
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-width: 200px;
}
.myMessage {
    padding: 0 0 15px 0;
    align-self: flex-end;
    height: 50px;
    border: 1px dashed teal;

}
.userMessage {
    padding: 0 0 15px 0;

    width: fit-content;
    align-self: flex-start;
    height: 50px;
    border: 1px solid red;
}
.container{
    border: 1px solid black;
}
.lastElement{
    height: 20px;
}
.dialogsContainer{
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.noMessages{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.textArea{
    width: 1500px;
    height: 50px;
}
.addUserToChat{
    margin:  15px 0 30px 50px;
}
.createdAt{
    font-size: 12px;
    color: slategrey;
    padding: 0 0 15px 0;

}