.dialogsWindow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    width: 1050px;
    margin: 0 0 0 50px;
    height: 800px;
    overflow: auto;
}

.sendMessage {


}
.messagesElement{

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}




.myMessage {
    background: #ECC263;
    align-self: flex-start;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    border-radius: 20px;
    margin: 0 0 60px 0;
    max-width: 830px;
    min-height: 44px;
}
.messagesUserInfo{
    display: flex;
    align-items: center;
position: absolute;
    top: -35px;
    min-width: 100%;
    gap: 10px;
}
.messagesBody{
    word-break: break-all;
    border-radius: 20px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    min-width: 141px;
    min-height: 44px;
    max-width: 830px;

}
.messagesInfoName{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
}






.userMessage {
    background: #FFFBF8;
    align-self: flex-start;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    border-radius: 20px;
    margin: 0 0 60px 0;
    max-width: 830px;
    min-height: 44px;
}
.container{
    border: 1px solid black;
    max-width: 1040px;
    width: 100%;

    border-radius: 30px;
    margin: 0 0 0 192px;

}
.dialogsBackground{
    background-image: url('/src/img/backgroundDialogs.png');
    background-size: 500px;
    background-repeat: repeat;

}
.lastElement{
    height: 20px;
}
.dialogsContainer{
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.noMessages{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.textArea{
    height: 56px;
    max-width: 664px;
    width: 100%;

}
.addUserToChat{
    margin:  15px 0 30px 50px;
}
.createdAt{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
}
.dialogsInfo{
    border: 1px solid black;
    height: 50px;
    background: white;
    position: fixed;
    top: 50px;
    width: 1570px;
}
.popapDeleteUser{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(153, 154, 157, 0.4);
}
.deleteUserWrapper{
    width: 500px;
    height: 550px;
    border: 1px solid black;
    margin: 55px auto 0 auto;
    background: white;
}
.deleteUser{
    margin: 35px 0 0 0px;
    height: 100%;
}
.textareaContainer textarea{
    max-height: 56px;
    max-width: 664px;
}