.dialogsWindow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    width: 1050px;
    margin: 0 0 0 50px;
    height: 800px;
    overflow: auto;
}

.sendMessage {
    width: 1050px;
    margin: 0 0 0 50px;
}
.messagesElement{
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-width: 200px;
}
.myMessage {

    align-self: flex-end;
    height: 50px;
    border: 1px dashed teal;

}
.userMessage {
    width: fit-content;
    align-self: flex-start;
    height: 50px;
    border: 1px solid red;
}
.container{
    border: 1px solid black;
}